@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}

  
body {
  font-family: 'Courgette', cursive;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 186, 234);
  background-image: url('background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
  

#starCounter {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

button {
    position: fixed;
    bottom: 20px;
    background-color: #00000082;
    color: #fff;
    border: none;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    font-family: 'Courgette', cursive;
  }
  
  #saveStars {
    right: 30px;
  }
  
  #removeStar {
    right: 90px;
  }

  #clearStars {
    right: 170px;
  }

.star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    animation: popIn 0.5s ease forwards, twinkle 2s infinite alternate;
  }
  
  @keyframes popIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    60% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes twinkle {
    0%, 100% {
      opacity: 1;
      filter: blur(0);
    }
    50% {
      opacity: 0.7;
      filter: blur(2px);
    }
  }
  
  .meteor {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(250, 210, 210);
    box-shadow: 0 0 40px rgb(101, 37, 7);
    animation: meteorShower 0.9s linear forwards;
  }
  
  @keyframes meteorShower {
    from {
      transform: translate(0, 0);
      opacity: 1;
    }
    to {
      transform: translate(100vw, 100vh); 
      opacity: 0;
    }
  }
  
#clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -1; 
}

.cloud {
  position: absolute;
  width: 200px;
  height: auto;
  opacity: 0.4;
  animation: moveClouds 100s linear infinite;
}

@keyframes moveClouds {
  0% {
    transform: translateX(60px) translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateX(100vw) translateY(50px); 
    opacity: 0.3;
  }
}

.cloud1 {
  top: 100px;
  left: -300px;
  width: 200px;
  animation: moveClouds 120s linear infinite;
}

.cloud2 {
  top: 250px;
  left: -400px;
  width: 350px;
  animation: moveClouds 130s linear infinite;
}

.cloud3 {
  top: 400px;
  left: -500px;
  width: 300px;
  animation: moveClouds 140s linear infinite;
}

.cloud4 {
  top: 550px;
  left: -600px;
  width: 250px;
  animation: moveClouds 150s linear infinite;
}
